<ion-content>
  <div class="container">
    <div class="iphone">
      <div class="header">
        <div class="order-summary">
          <div class="dorm-name">
            TONTON's INN
          </div>
          <div class="short-desc">
            A resting paradise
          </div>
        </div>
        <div class="action-btn">
          <div class="back-btn"><i class="fa-sharp fa-solid fa-xmark"></i></div>
        </div>
      </div>
      <div class="hero-img-container">
        <img src="../assets/DSC09486.png" class="hero-img">
      </div>

      <div class="order-details-container">
        <div class="odc-header">
        <div class="cta-text">See service details</div>
        <div class="cta-button-container">
          <button class="cta-button">View</button>
        </div>
        </div>
        <div class="odc-wrapper">
        <div class="odc-header-line">
          Your order details
        </div>
        <div class="odc-header-details">
          Your product details (order 040-904-790)
        </div>
        <div class="product-container">
          <div class="product">
            <div class="product-photo">
              <img src="../assets/3d-cleaning.png" class="img-photo">
            </div>
            <div class="product-desc">
              <span>First Service</span>
              <span>Area Cleaning </span>
            </div>
          </div><div class="product">
            <div class="product-photo">
              <img src="../assets/3d-plumbing.png" class="img-photo2">
            </div>
            <div class="product-desc">
              <span>Second Service</span>
              <span>Plumbing</span>
            </div>
          </div>
        </div>
        <a><div class="cancellation">
          Request Cancellation
          </div></a>
          <a><div class="cancellation">
            Request Cancellation
            </div></a>
        <div class="shipping-desc">Your Address</div>
        
        <div class="shipping-address">
          Red Bldg.<br>
          Universe 2, Golden Country Homes<br>
          Alangilan<br>
          BATANGAS
        </div>
        </div>
      </div>
    </div>
  </div>
  <script src="node_modules/animejs/lib/anime.min.js"></script>
</ion-content>