

<ion-content scrollY="false">
    <swiper-container
    #swiper
        (afterinit)="swiperReady()"
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true"
        [zoom]="true"
        style="height: 100vh;"
    >
        <swiper-slide *ngFor="let image of images">
            <div class="swiper-zoom-container">
                <img [src]="image" />
            </div>
         </swiper-slide>
    </swiper-container>

    <div class="order-details-container">
        <div class="odc-header">
        <div class="cta-text">See service details</div>
        <div class="cta-button-container">
          <button class="cta-button">View</button>
        </div>
        </div>
        <div class="odc-wrapper">
        <div class="odc-header-line">
          Your order details
        </div>
        <div class="odc-header-details">
          Your product details (order 040-904-790)
        </div>
        <div class="product-container">
          <div class="product">
            <div class="product-photo">
              <img src="../assets/3d-cleaning.png" class="img-photo">
            </div>
            <div class="product-desc">
              <span>First Service</span>
              <span>Area Cleaning </span>
            </div>
          </div><div class="product">
            <div class="product-photo">
              <img src="../assets/3d-plumbing.png" class="img-photo2">
            </div>
            <div class="product-desc">
              <span>Second Service</span>
              <span>Plumbing</span>
            </div>
          </div>
        </div>
        <a><div class="cancellation">
          Request Cancellation
          </div></a>
        <div class="shipping-desc">Your Address</div>
        
        <div class="shipping-address">
          Red Bldg.<br>
          Universe 2, Golden Country Homes<br>
          Alangilan<br>
          BATANGAS
        </div>
        </div>
      </div>
    </div>


</ion-content>