<ion-header>
  <ion-buttons slot="start" class="back-button">
    <ion-back-button defaultHref="/" color="light"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">
    <h1 class="black-text" style="color: black;">Caren Tolentino</h1>
    <h2 class="black-text" style="color: black;">Boarder</h2>
  </div>
  <div class="options">
    <h3 class="black-text" style="color: black;">Edit Name</h3>
    <h3 class="black-text" style="color: black;">Change Password</h3>
    <h3 class="black-text" style="color: black;">Change Number</h3>
    <h3 class="black-text" style="color: black;">About</h3>
    <h3 class="black-text" style="color: black;">Help</h3>
  </div>
  <div class="buttons">
    <button type="button">
    </button>
  </div>
  
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="guide">
      <a><ion-icon name="map" size="large" color="dark"></ion-icon></a>
      <a><ion-icon name="home" size="large" color="dark"></ion-icon></a>
      <a><ion-icon name="person-circle" size="large" color="dark"></ion-icon></a>
    </div>
  </ion-toolbar>
</ion-footer>