<ion-content>
  <div class="main_content_div">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="username">Caren Tolentino</ion-label>
        <ion-label class="user_type">Boarder</ion-label>
      </div>

      <div class="user_back" [style.backgroundImage]="'url(assets/prespic.png)'"></div>
    </div>

    <div class="content_div">
      <div class="test_details">

        <a (click)="goToEditName()">
          <div class="list_div">
            <ion-label>Edit Profile</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </a>
       
        <a (click)="goToChangePassword()">
          <div class="list_div">
            <ion-label>Change Password</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </a>

        <a (click)="goToChangeNumber()">
          <div class="list_div">
            <ion-label>Change Number</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </a>

        <div class="list_div">
          <ion-label>About</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

        <div class="list_div">
          <ion-label>Help</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="guide">
      <a><ion-icon name="map" size="large" color="dark"></ion-icon></a>
      <a><ion-icon name="person-circle" size="large" color="dark"></ion-icon></a>
    </div>
  </ion-toolbar>
</ion-footer>
