* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-content,
input,
.btn {
  font-family: "Poppins-Regular", sans-serif;
}

.container {
  background-image: linear-gradient(#75E4F2, #B0E7EE);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  margin-bottom: 40%;
}

.input-field {
  max-width: 330px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
  display: flex;
}

.image1{
  margin-top: 60px;
  transition: all 0.2s 0.7s;
  
  width: 240px;
  height: auto;
  @media (max-width: 768px) {
    margin-top: 200px;
  }
}

.input-field ion-icon {
  text-align: center;
  line-height: 45px;
  color: #acacac;
  transition: 0.5s;
  font-size: 2rem;
}

.icon-left {
  margin-right: 10px;
  margin-left: 10px;
}

.input-with-icon {
  padding-left: 40px;
}

.input-field ion-input  {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  opacity: 50%;
}

.title {
  margin-bottom: 20px; /* Adjust as needed */
  font-size: 2rem;
}


.btn {
  width: 150px;
  background-color: #04BED4;
  border-color: #ffff;
  border-width: 2;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #fff;
  color: #04BED4;
  border-color: #04BED4;
}


.container {
  height: 100vh;
}

.btn.transparent {
  width: 110px;
  height: 35px;
  font-size: 0.7rem;
}


@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
}
