<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
  </ion-header> -->

  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <div class="bubble"></div>
        <form class="sign-in-form" [formGroup] = "login" (ngSubmit) = "loginSubmit()" novalidate>
          <!--ion-img src="" class="image1"></ion-img---> 
          <h2 class="title">Login</h2>

          <div class="input-field" >
            <ion-icon name="call-outline" class="icon-left" ></ion-icon>
            <ion-input type="number" formControlName="number" placeholder="Phone Number" class=".input-with-icon"></ion-input>
          </div>
          <div class="input-field" >
            <ion-icon name="lock-closed-outline" class="icon-left" ></ion-icon>
            <ion-input type="password" formControlName="password" placeholder="Password" class=".input-with-icon"></ion-input>
          </div>
          <button type="submit" class="btn solid">Login</button>
          <p (click)="register()">New User? Signup to proceed!</p>
        </form>
      </div>
    </div>
  </div>
</ion-content>

