<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        
        <!---Sign Up Form-->
        <form class="sign-in-form">
          <!--ion-img src="" class="image1"></ion-img---> 
          <h2 class="title">Sign Up</h2>
          <div class="name">
            <div class="input-field half-width" >
              <ion-input type="text" placeholder="First Name" class=".input-with-icon"></ion-input>
            </div>
            <div class="input-field half-width" >
              <ion-input type="text" placeholder="Last Name" class=".input-with-icon"></ion-input>
            </div>
          </div>
          <div class="input-field" >
            <ion-icon name="call-outline" class="icon-left" ></ion-icon>
            <ion-input type="text" placeholder="Phone Number" class=".input-with-icon"></ion-input>
          </div>
          <div class="input-field" >
            <ion-icon name="lock-closed-outline" class="icon-left" ></ion-icon>
            <ion-input type="password" placeholder="Password" class=".input-with-icon"></ion-input>
          </div>
          <div class="input-field">
            <ion-icon name="lock-closed-outline" class="icon-left"></ion-icon>
            <ion-input type="password" placeholder="Confirm Password" class=".input-with-icon"></ion-input>
          </div>
          <div class="input-field custom-select">
            <ion-icon name="person-circle-outline" class="icon-left"></ion-icon>
            <div class="select-wrapper">
              <select>
                <option value="option1">Landlord</option>
                <option value="option2">Boarder</option>
              </select>
            </div>
          </div>

  
          <button type="submit" class="btn solid" >Sign Up</button>
          <p (click)="login()">Already have an account? Login instead</p>
        </form>
      </div>
    </div>
  </div>
</ion-content>

