<ion-header [translucent]="true">
  <ion-buttons slot="start" class="back-button">
    <ion-back-button defaultHref="profile" color="light"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <strong>Enter New Password</strong>
    <ion-item class="round-input" color="dark">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input 
      aria-label="Password" 
      type="password" 
      placeholder="Password">
      </ion-input>
    </ion-item>
    <ion-item class="round-input-2" color="dark">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input 
      aria-label="Confirm Password" 
      type="password" 
      placeholder="Confirm Password">
      </ion-input>
    </ion-item>
    <ion-button shape="round" color="primary">
      Confirm
    </ion-button>
  </div>
</ion-content>
