<ion-content>
  <div class="container-1">
      <p>Find your perfect place!</p>

      <ion-item class="round-input" color="dark">
        <ion-icon name="search-outline"></ion-icon>
          <ion-input 
            aria-label="Enter Location" 
            type="alphanumeric" 
            placeholder="Enter Location">
        </ion-input>
        <ion-icon name="options"></ion-icon>
      </ion-item>
    
     <div class="container-1-in">
      <ion-button>
        Studio type
      </ion-button>
      <ion-button>
        Bedspace
      </ion-button>
      <ion-button>
        Furnished
      </ion-button>
     </div>
     
  </div>

  <div class="container-2">
    <p>Places near you</p>
    <swiper-container
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [zoom]="true"
    [pagination]="true">

      <swiper-slide *ngFor="let pair of images">
        <div class="swiper-zoom-container">
          <!-- hold this slide for 2 seconds -->
        <div class="swiper-slide" data-swiper-autoplay="2000">
          <img [src]="pair[0]"/>
          <img [src]="pair[1]"/>
        </div>
      </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="guide">
      <a><ion-icon name="map" size="large" color="dark"></ion-icon></a>
      <a><ion-icon name="home" size="large" color="dark"></ion-icon></a>
      <a><ion-icon name="person-circle" size="large" color="dark"></ion-icon></a>
    </div>
  </ion-toolbar>
</ion-footer>