
<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-header>
  <div class="images">
    <div class="container2">
      <app-slider></app-slider>
    </div>
  </div>
  <div class="dorm-title">
    <strong>TOMTOM'S INN</strong>
    <p>Gen. Malvar St. Cuenca Batangas</p>
  </div>
  <div class="details-util">
    <div class="dau-container">
      <strong>Details & Utilities:</strong>
    </div>
    <div class="dau-deets">
      <div class="details">
        <p style="border-bottom: 1px solid #87E2EC;">Single-storey</p>
        <p style="border-bottom: 1px solid #87E2EC;">Kitchen</p>
        <p style="border-bottom: 1px solid #87E2EC;">1 Bedroom</p>
        <p style="border-bottom: 1px solid #87E2EC;">1 Comfort Room</p>
        <p style="border-bottom: 1px solid #87E2EC;">Living Room</p>
        <p style="border-bottom: 1px solid #87E2EC;">Dining Area</p>
      </div>
    </div>
    <div class="landlord">
      <div class="landlord-title">
        <strong>LANDLORD</strong>
      </div>
      <div class="landlord-container">
        <div class="lanlord-image">
          <img src="../assets/Caren 1 by 1.png" class="l-image" alt="">
        </div>
        <div class="landlord-details">
          <h3>Caren Tolentino</h3>
          <p>09123456789</p>
          <p>Alangilan, Batangas City, Batangas</p>
        </div>
      </div>
    </div>  
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
  <div id="guide">
    <a><ion-icon name="map" size="large" color="dark"></ion-icon></a>
    <a (click)="goToProfile()"><ion-icon name="person-circle" size="large" color="dark"></ion-icon></a>
  </div>
  </ion-toolbar>
</ion-footer>
