<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="dashboard" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-header>
  
  <form [formGroup] = "dormCreate" (ngSubmit) = "dormCreateSubmit()" novalidate>
    <div class="container">
      <p>Dorm name</p>
      <ion-item class="round-input" color="dark">
        <ion-input  formControlName = "dormname"
        aria-label="Dorm Name" 
        type="text" >
        </ion-input>
      </ion-item>
      <p> Address </p> 
      <ion-item class="round-input" color="dark">
        <ion-input formControlName = "dormaddress"
        aria-label="Address" 
        type="text" >
        </ion-input>
      </ion-item>
    </div>

    <div id="setlocation">
      <p>Set Location <ion-icon name="map-outline"></ion-icon> </p>
    </div>
    <div id ="markerDiv">
      <img src="assets\icon\Marker.png">
    </div>
    <div id="map" #map></div>

    
    <div class="container-2">
      <p> <span>Utilities</span> Separate Utilities with a comma (,)</p>
      <ion-item class="round-input" color="dark">
        <ion-input formControlName = "dormutilities"
        aria-label="Address" 
        type="text" >
        </ion-input>
      </ion-item>
    </div>

    <div class="container-3">
      <p>Images</p>
      <ion-button (click)="addPhotoToGallery()">Upload Image</ion-button>
        <ion-grid>
          <ion-row>
            <ion-col size="4" *ngFor="let photo of photoService.photos; index as position"(click)="onImageClick(photo)">
              <ion-img [src]="photo.webviewPath"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <div class = "btn">
      <button type="submit">Create Dorm</button>
    </div>
  </form>
</ion-content>
