.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  left: 0;
  right: 0;
  top: 50px;
  padding-bottom: 20px;
}

.container p {
  font-size: 16pt;
  color: #1dc3d9;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 12%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#setlocation {
  display: flex;
  flex-direction: column;
  align-items: center;
    p {
      color: black;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
        ion-icon {
        margin-left: 5px;
      }
    }
}



.container-2 {
  display: flex;
  flex-direction: column;
    p {
      color: black;
      font-size: 12pt;
      font-weight: bold;
      margin-left: 12%;
      margin-right: 12%;
  }
    span {
      font-size: 16pt;
      color: #1dc3d9;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }
}

.container-3 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  p{
    color: black;
    font-weight: bold;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
}

.round-input {
  ion-input {
    margin-left: 10px;
    font-size: 22px;
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
  }                            
  width: 80%;           
  align-self: center; 
}

ion-item {
  width: 320px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
ion-content {
  --ion-background-color: linear-gradient(to bottom, #B0E7EE, #ffffff);
}
ion-header {
  background-color: #1dc3d9;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  height: 150px; /* Set a fixed height for the container */
  width: 100%;
}

.half-width {
  flex: 1;
  max-width: calc(50% - 10px); /* Adjust the margin value as needed */
  margin: 5px; /* Adjust the margin value as needed */
  height: 100%; /* Set the height to 100% to match the container height */
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%; /* Set the height to 100% to match the container height */
}

.full-width {
  flex: 1;
  max-width: 100%;
  margin: 5px; /* Adjust the margin value as needed */
  height: calc(50% - 10px); /* Adjust the margin value as needed */
}

ion-card {
  background-color: #f0f0f0; /* Set your desired background color */
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  button{
    width: 150px;
    background-color: #04BED4;
    border-color: #ffff;
    border-width: 2;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
}

#mapDiv{
  img{
    position: absolute;
    height: auto;
    width: 40px;
    margin-top: 24vw;
    margin-left: -20px;
    left: 50%;
    display: block;
    z-index: 2;
  }
  
#map {
  position: relative;
  margin:0% 10% 0% 10%;
  height:60vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1;
}
}

