<ion-header [translucent]="true">
  <ion-toolbar>
<<<<<<<< HEAD:src/app/pages/dorm/dorm.page.html
    <ion-title>dorm</ion-title>
========
    <ion-title>create</ion-title>
>>>>>>>> a79c9551db0917b7f3fad982e2eccee477cad454:src/app/pages/create/create.page.html
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
<<<<<<<< HEAD:src/app/pages/dorm/dorm.page.html
      <ion-title size="large">dorm</ion-title>
========
      <ion-title size="large">create</ion-title>
>>>>>>>> a79c9551db0917b7f3fad982e2eccee477cad454:src/app/pages/create/create.page.html
    </ion-toolbar>
  </ion-header>
</ion-content>
>