<ion-content [fullscreen]="true">

<ion-header [translucent]="true">
  <ion-buttons slot="start" class="back-button">
    <ion-back-button defaultHref="dashboard" color="dark"></ion-back-button>
  </ion-buttons>
</ion-header>


  <div class="container">
    <strong>Dorm name</strong>
    <ion-item class="round-input" color="dark">
      <ion-input 
      aria-label="Dorm Name" 
      type="alphanumerical" >
      </ion-input>
    </ion-item>
    <p> Address </p> 
    <ion-item class="round-input-2" color="dark">
      <ion-input 
      aria-label="Address" 
      type="alphanumerical" >
      </ion-input>
    </ion-item>
  </div>
</ion-content>
