<ion-content [fullscreen]="true">
  <div class="container">
    <strong>Welcome, Landlord!</strong>
  </div>
  <div class="container-2">
    <a (click)="goToCreate()">
    <div>
      <ion-icon name="add-circle-outline"></ion-icon>
      Add a Dorm
    </div>
    </a>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="guide">
      <a><ion-icon name="clipboard-sharp" size="large" color="primary"></ion-icon></a>
      <a (click)="goToProfile()"><ion-icon name="person-circle" size="large" color="primary"></ion-icon></a>
    </div>
  </ion-toolbar>
</ion-footer>
