<ion-content [fullscreen]="true">
  <div class="container">
    <p>Welcome, Landlord!</p>
  </div>

  <div class="container-2">
    <ion-card>
      <ion-card-content>
        <div class="image-container">
            <img src="assets/cadena_b.png" alt="Selected Image" class="full-width">
            <h1>Oliver's Inn</h1>
            <p>Gen. Malvar St. Cuenca, Batangas</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container-3">
    <div class="holder">
      <a (click)="goToCreate()">
      <div>
        <ion-icon name="add-circle-outline"></ion-icon>
        <p>Add a Dorm</p>
      </div>
      </a>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="guide">
      <a (click)="goToDashboard()"><ion-icon name="clipboard-sharp" size="large" color="dark"></ion-icon></a>
      <a (click)="goToLLProfile()"><ion-icon name="person-circle" size="large" color="dark"></ion-icon></a>
    </div>
  </ion-toolbar>
</ion-footer>
