ion-footer {
  position: fixed;
  bottom: 0;
  border: none;
}

ion-content {
  --ion-background-color: linear-gradient(to bottom, #B0E7EE, #ffffff);
}

ion-card {
  border-radius: 28px;
  background-color: #B0E7EE; 
  max-width: 600px;
  width: 80%;
}

#guide {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #40c2d3;
}

.container {
  p {
    font-size: 24px;
    padding: 50px;
    color: #1591a1;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  transform: translateY(-50%);
}

.container-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}

.image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px; 
  max-width: 600px;
    h1 {
      display: flex;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #000000;
      margin-top: 5px;
    }
    p {
      display: flex;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #000000;
    }
}

.full-width {
  flex: 1;
  max-width: 100%;
  height: calc(50% - 10px); /* Adjust the margin value as needed */
}


.container-3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-50%);
  width: 100%;
}

.holder {
  border-style: dashed;
  border-width: 5px;
  border-color: #999999;
  border-radius: 30px;
  max-width: 600px;
  width: 80%;
}

.holder {
  div {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0px;
    font-size: 16px;
    padding: 10px;
    color: #000000;
  }
}

.holder {
  div {
    ion-icon {
  font-size: 5em;
  color: #999999;
  margin-bottom: 10px;
    }
  }
}

.holder {
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
  }
}