ion-footer {
  position: fixed;
  bottom: 0;
}

#guide {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #50c8ff;
}

ion-content {
  --ion-background-color: linear-gradient(to bottom, #B0E7EE, #ffffff);
}